/*----------------
General Styles
-----------------*/
body {
  font-family: Lato, sans-serif;
  color: #111;
  position: relative;
  overflow-x: hidden;
}

/* class to vertically align div within div */
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* highlighted text */
::selection {
  background: #873fb5;
  color: #fff;
}

::-moz-selection {
  background-color: #873fb5;
  color: #fff;
}

strong {
  font-weight: 900;
}

p {
  line-height: 1.5;
}

a,
a:focus {
  color: #873fb5;
}

a:hover {
  color: #41135f;
  text-decoration: none;
}

section {
  padding: 50px 0;
}

hr {
  width: 85px;
}

/*-- Star icon in section headings --*/
hr.icon:after {
  font-family: FontAwesome;
  content: "\f123";
  color: #873fb5;
  font-size: 1.5em;
  background-color: #fff;
  position: relative;
  top: -0.7em;
  padding: 0.3em;
}

/*-- Sectio Heading --*/
.section-heading {
  color: #873fb5;
}

.section-heading h3 {
  font-weight: 300;
  letter-spacing: 3px;
}

.section-heading hr {
  border-color: #873fb5;
  margin-top: 30px;
  margin-bottom: 40px;
}

/*-----------------
Header
------------------*/
#home {
  background: url('../img/header-bg.png') fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 600px;
}

.logo {
  font-size: 72px;
  font-weight: 100;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding: 0 20px 15px;
}

#home h3 {
  font-weight: 300;
  margin: 0;
}

.learn-more {
  color: white;
  font-size: 30px;
  position: absolute;
}

.learn-more .fa {
  position: absolute;
}

.learn-more .arrow2 {
  top: 8px;
}

.learn-more .arrow3 {
  top: 16px;
}

/*-----------------
About
------------------*/
#about {
  background: url('../img/about-bg.png') fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 440px;
}

#about h3 {
  font-weight: 100;
  letter-spacing: 3px;
}

#about h4 {
  font-weight: 300;
  padding: 0 20%;
}

/*-----------------
Services
------------------*/
