/* GLOBAL VARIABLES */
/* MIXINS */
/* PLUGINS */
/* BASE */
body {
  font-family: Lato, sans-serif;
  color: #111;
  position: relative;
  overflow-x: hidden; }

/* highlighted text */
::selection {
  background: #873fb5;
  color: #fff; }

::-moz-selection {
  background: #873fb5;
  color: #fff; }

strong {
  font-weight: 900; }

p {
  line-height: 1.5; }

a,
a:focus {
  color: #873fb5; }

a:hover {
  color: #41135f;
  text-decoration: none; }

section {
  padding: 50px 0; }

hr {
  width: 85px; }

/* LAYOUTS */
/* star icon in section headings */
hr.icon:after {
  font-family: FontAwesome;
  content: "\f123";
  color: #873fb5;
  font-size: 1.5em;
  background-color: #fff;
  position: relative;
  top: -0.7em;
  padding: 0.3em; }

/* section heading */
.section-heading {
  color: #873fb5; }
  .section-heading h3 {
    font-weight: 300;
    letter-spacing: 3px; }
  .section-heading hr {
    border-color: #873fb5;
    margin-top: 30px;
    margin-bottom: 40px; }

/* class to vertically align div within div */
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

#home {
  background: url("../img/header-bg.png") fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  color: #fff;
  height: 600px; }
  #home h3 {
    font-weight: 300;
    margin: 0; }

.logo {
  font-size: 72px;
  font-weight: 100;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding: 0 20px 15px; }

.learn-more {
  color: #fff;
  font-size: 30px;
  position: absolute; }
  .learn-more .fa {
    position: absolute; }
  .learn-more .arrow2 {
    top: 8px; }
  .learn-more .arrow3 {
    top: 16px; }

#about {
  background: url("../img/about-bg.png") fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  color: #fff;
  height: 440px; }
  #about h3 {
    font-weight: 100;
    letter-spacing: 3px; }
  #about h4 {
    font-weight: 300;
    padding: 0 20%; }

.service-item {
  margin-bottom: 40px; }
  .service-item header {
    margin-bottom: 8px; }
  .service-item .fa {
    font-size: 48px;
    color: #c1c1c1;
    padding-right: 15px;
    border-right: 1px solid #873fb5;
    float: left; }

.service-title {
  margin-top: -24px;
  margin-left: 15px;
  display: inline-block; }
  .service-title h3 {
    color: #111;
    font-weight: 900; }
  .service-title h4 {
    font-weight: 300;
    margin-top: -10px;
    color: #873fb5; }

#skills {
  background: url("../img/skills-bg.png") fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  color: #fff; }
  #skills h1 {
    font-size: 48px; }
  #skills h3 {
    font-weight: 300;
    margin-top: 0; }
  #skills p {
    font-weight: 300;
    margin: 40px 0; }
  #skills .button:last-child {
    margin-left: 20px; }

.progress {
  height: 30px;
  margin-bottom: 30px;
  opacity: .78;
  background-color: #000;
  box-shadow: none; }

.progress-bar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#773a93+0,8d4563+100 */
  background: #793a93;
  background: -moz-linear-gradient(left, #773a93 0%, #8d4563 100%);
  background: -webkit-linear-gradient(left, #773a93 0%, #8d4563 100%);
  background: linear-gradient(to right, #773a93 0%, #8d4563 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#773a93', endColorstr='#8d4563',GradientType=1 ); }
  .progress-bar h5 {
    font-weight: 900; }

#portfolio .col-md-4 {
  padding: 0; }

.portfolio-thumb,
.portfolio-overlay {
  height: 270px;
  max-width: 390px; }

.portfolio-thumb {
  /* This hides the overlay content, since we only want it to appear when hovering */
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  /* position overlay */ }
  .portfolio-thumb img {
    width: 100%;
    height: 100%; }
  .portfolio-thumb .portfolio-overlay {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(135, 63, 181, 0.6);
    padding: 20px 10px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }
  .portfolio-thumb:hover .portfolio-overlay {
    opacity: 1;
    cursor: pointer; }

.portfolio-overlay h2 {
  color: #fff;
  font-weight: 300;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding: 5px 10px 10px 10px; }

.portfolio-overlay a {
  color: #fff;
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  right: 20px; }

.stat {
  height: 230px;
  color: #fff; }
  .stat .fa {
    font-size: 48px; }
  .stat h2 {
    margin-top: 10px; }
  .stat h4 {
    font-weight: 300;
    margin-top: -5px; }

.codes {
  background: url("../img/code-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover; }

.projects {
  background: url("../img/projects-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover; }

.clients {
  background: url("../img/clients-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover; }

.feedback {
  background: url("../img/feedback-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover; }

#testimonial {
  background: url("../img/testimonial-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  color: #fff;
  height: 400px;
  margin-top: 60px;
  position: relative; }

#footer {
  background: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  color: #fff;
  padding: 50px 0; }
  #footer .logo {
    font-size: 47px;
    padding: 0 20px 10px 20px; }
  #footer ul {
    padding: 0;
    margin-top: 10px;
    display: block; }
    #footer ul li {
      display: inline-block; }
    #footer ul a {
      font-size: 30px;
      color: #fff;
      padding: 0 10px; }

.copyrights {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  padding: 5px 0;
  color: #9e9ba1; }

/* MODULES */
.button {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 3px solid #fff;
  border-radius: 2px;
  hover-border-color: #873fb5; }

.owl-carousel h4 {
  font-weight: 300; }

.owl-carousel cite {
  font-style: normal;
  font-size: 24px;
  font-weight: 900; }

.owl-carousel img {
  max-width: 80px;
  max-height: 80px;
  margin: 20px auto; }

.owl-carousel p {
  font-weight: 300;
  padding: 0 10%; }

.owl-carousel blockquote {
  border-left: none; }

.form-control {
  height: 45px;
  padding: 15px;
  font-size: 16px;
  color: #8c8c8c;
  background-color: #f5f5f5;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  font-weight: 300; }
  .form-control::-moz-placeholder {
    color: #8c8c8c; }
  .form-control::-ms-input-placeholder {
    color: #8c8c8c; }
  .form-control::-webkit-input-placeholder {
    color: #8c8c8c; }
  .form-control:focus {
    box-shadow: none;
    color: #793a93;
    border-color: #793a93;
    background-color: #fff; }
    .form-control:focus::-moz-placeholder {
      color: #793a93; }
    .form-control:focus::-ms-input-placeholder {
      color: #793a93; }
    .form-control:focus::-webkit-input-placeholder {
      color: #793a93; }
