#home
  +background( url('../img/header-bg.png') fixed )
  color: #fff
  height: 600px

  h3
    font-weight: 300
    margin: 0


.logo
  font-size: 72px
  font-weight: 100
  border-top: 1px solid #fff
  border-bottom: 1px solid #fff
  display: inline-block
  padding: 0 20px 15px


.learn-more
  color: #fff
  font-size: 30px
  position: absolute

  .fa
    position: absolute

  .arrow2
    top: 8px

  .arrow3
    top: 16px
